body {
  background:rgba(241,240,236,255);
}

.feather {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: inset -2px 0 0 rgba(0, 0, 0, .1); */
  background:rgba(224,218,197,255);
}

.sidebar-sticky {
  margin-top: 100;
  height: calc(100vh);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background:rgba(224,218,197,255);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 15px;
  padding-left: 30px;
  margin: 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

/* question box */
.question {
	background-color: #ffffff;
  margin: 20px;
  margin-left: 0;
	padding: 40px;
	width: 100%;
	height: auto;
  border-radius: 10px;
  border: solid;
  border-color: gray;
  border-width: thin;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

h3 {
  margin: 0;
  margin-bottom: 20px;
}

p {
  margin-bottom: 0;
}

.date {
	font-size: 12px;
  color: grey;
  width: fit-content;
  margin: 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply_icon {
	height: auto;
}

.icon:hover {
  color:gray;
  text-decoration: underline;
  cursor: pointer;
}

.reply {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

#category {
  margin-left: 20px;
  width: fit-content;
}

.form-control:not(#category) {
  width: 100%;
  margin-bottom: 12px;
}

.addReplyBox {
  display: none;
}

.endorsed {
  color: orange;
}

.endorse_text {
  color: orange;
}

.bi-award-fill {
  color: orange;
}