<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Discussion</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link href="/static/dashboard.css" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-md-block sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
										<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
										<polyline points="9 22 9 12 15 12 15 22"></polyline>
									</svg>
									Home <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
										<path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
										<polyline points="13 2 13 9 20 9"></polyline>
									</svg>
									Tasks
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
										<circle cx="9" cy="21" r="1"></circle>
										<circle cx="20" cy="21" r="1"></circle>
										<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
									</svg>
									Files
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
										<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
										<circle cx="9" cy="7" r="4"></circle>
										<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
										<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
									</svg>
									Inbox
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
										<line x1="18" y1="20" x2="18" y2="10"></line>
										<line x1="12" y1="20" x2="12" y2="4"></line>
										<line x1="6" y1="20" x2="6" y2="14"></line>
									</svg>
									Settings
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
										<polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
										<polyline points="2 17 12 22 22 17"></polyline>
										<polyline points="2 12 12 17 22 12"></polyline>
									</svg>
									Logout
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
						<h1 class="h2">Discussion</h1>
					</div>

					<div class="question_box">	
						<select id="category" class="form-control">
							<option>required paperwork</option>
							<option>international student</option>
							<option>campus life</option>
							<option>other</option>
						</select>
						<div class="questionToAdd"></div>
					</div>
			
					
				</main>
			</div>
		</div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		var loadQnA = function() {
			$.get("/qna", function(data, status){
				// render questions
				data.forEach(element => {
					if ($("#category").val() == element.category) {
						var s = '<div class="question"><h3>' + element.question + '</h3>';
						s = s + '<p class="description">' + element.description + '</p>';
						s = s + '<p class="date">' + element.id + ' posted on ' + element.dt + '</p>';
						s = s + '<div class="reply_icon"><img class="new_img" src="/static/skins/np_chat_888687_707070.png" width="16" height="16" />replies</div>';
						// render advisor replies
						element.replies.forEach(reply => {
							if (reply.id === "Advisor") {
								s = s + '<div class="reply"><p>' + reply.comment + '</p>';
								s = s + '<p class="date">' + reply.id + ' posted on ' + reply.dt + '</p>';
								s = s + '</div>';
							}
						});
						// render student replies
						element.replies.forEach(reply => {
							if (reply.id !== "Advisor") {
								s = s + '<div class="reply"><p>' + reply.comment + '</p>';
								s = s + '<p class="date">' + reply.id + ' posted on ' + reply.dt + '</p>';
								s = s + '</div>';
							}
						});

						s = s + '<div class="addReplyBox"><input type="text" class="form-control" placeholder="add your reply here"><button class="btn btn-primary btn-sm">Submit</button></div>'
						s = s + '</div>';
						$(".questionToAdd").append(s);
					}
				});

				$(".reply").hide();

				$(".reply_icon").click(function() {
					$(this).parent().find(".reply").toggle(400);
					$(this).parent().find(".addReplyBox").toggle(400);
				});

				$(".addReplyBox").find("button").click(sendReply);
			});				
		}

		var sendReply = function() {
			var question = $(this).parent().parent().find("h3").text();
			var id = "Advisor";
			var comment = $(this).parent().find("input").val();
			var data = {
				question: question,
				id: id,
				comment: comment
			};
			$.ajax({
				type: "POST",
				url: "/reply", 
				data: JSON.stringify(data),
				contentType: "application/json",
				success: () => {
					location.reload();
				}
			});
		}

		var showReplyBox = function() {
			$(this).hide();
			$(this).parent().find(".addReplyBox").show();
		}

		$(document).ready(function(){
			loadQnA();
		});

		$("#category").change(() => {
			$(".questionToAdd").empty();
			loadQnA();
		});

	</script>

</html>