<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Discussion</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link href="/static/dashboard.css" rel="stylesheet">
	</head>

	<style>
		h3 {
			font-size: 1rem;
		}
		body {
			background-color: #E0DAC5;
			font-size: 0.8rem;
		}
		.data {
			font-size: 0.6rem;
		}
	</style>
	<body>
		<div class="container-fluid">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">Discussion</h1>
				</div>

				<div class="question_box">	
					<select id="category" class="form-control">
						<option>required paperwork</option>
						<option>international student</option>
						<option>campus life</option>
						<option>other</option>
					</select>
					<div class="questionToAdd"></div>
				</div>				
			</main>
		</div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		var loadQnA = function() {
			$.get("/qna", function(data, status){
				data.forEach(element => {
					if ($("#category").val() == element.category) {
						var s = '<div class="question"><h3>' + element.question + '</h3>';
						s = s + '<p class="description">' + element.description + '</p>';
						s = s + '<p class="date">' + element.id + ' posted on ' + element.dt + '</p>';

						s = s + '</div>';
						$(".questionToAdd").append(s);
					}
				});

				$(".question").click(function() {
					var question = $(this).find("h3").text();
					$(".question_box").append('<form action="/get_question" method="POST"><input type="text" name="question" value="' + question + '"><button id="redirectButton"></button></form>');
					$("#redirectButton").click();
					$("form").remove();
				})
			});				
		}

		$(document).ready(function(){
			loadQnA();
		});

		$("#category").change(() => {
			$(".questionToAdd").empty();
			loadQnA();
		});

	</script>

</html>