<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Discussion</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link href="/static/dashboard.css" rel="stylesheet">
	</head>

	<style>
		h3 {
			font-size: 1.1rem;
		}
		body {
			background-color: #E0DAC5;
			font-size: 0.9rem;
			padding: 10px;
		}
		.data {
			font-size: 0.6rem;
		}
		.question {
			padding: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
			border-width: medium;
		}
	</style>
	<body>
		<h1 class="h2">Discussion</h1>

		<div class="question_box">	
			<select id="category" class="form-control">
				<option>required paperwork</option>
				<option>international student</option>
				<option>campus life</option>
				<option>other</option>
			</select>
			<div class="questionToAdd"></div>
		</div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		var loadQnA = function() {
			$.get("/qna", function(data, status){
				data.forEach(element => {
					if ($("#category").val() == element.category) {
						var s = '<div class="question"><h3>' + element.question + '</h3>';
						s = s + '<p class="description">' + element.description + '</p><br>';
						
						s = s + '<div class="icons"><div class="icon reply_icon"><svg class="bi bi-chat-square-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v8a1 1 0 001 1h2.5a2 2 0 011.6.8L8 14.333 9.9 11.8a2 2 0 011.6-.8H14a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v8a2 2 0 002 2h2.5a1 1 0 01.8.4l1.9 2.533a1 1 0 001.6 0l1.9-2.533a1 1 0 01.8-.4H14a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/><path d="M5 6a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z"/></svg> ' + element.replies.length + '</div>';
						if (element["likes"]) {
							s = s + '<div class="icon like_icon question_like_icon"><svg class="bi bi-triangle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" clip-rule="evenodd"/></svg><span> ' + element.likes + '</span></div>';
						} else {
							s = s + '<div class="icon like_icon question_like_icon"><svg class="bi bi-triangle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" clip-rule="evenodd"/></svg><span> 0</span></div>';
						}
						s = s + '<div class="icon report_icon"><svg class="bi bi-question-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/><path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg></div></div>';
						
						s = s + '</div>';
						$(".questionToAdd").append(s);
					}
				});

				$(".question").click(function() {
					var question = $(this).find("h3").text();
					$(".question_box").append('<form action="/get_question" method="POST"><input type="text" name="question" value="' + question + '"><button id="redirectButton"></button></form>');
					$("#redirectButton").click();
					$("form").remove();
				});

				// add question upvote event
				$(".question_like_icon").click(function() {
					let question = $(this).parent().parent().find("h3").text();
					let data = {question: question};
					$.ajax({
						type: "POST",
						url: "/advisor/discuss/upvote_question", 
						data: JSON.stringify(data),
						contentType: "application/json",
						success: () => {
							let num = parseInt($(this).find("span").text()) + 1;
							$(this).html('<svg class="bi bi-triangle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 011.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z" clip-rule="evenodd"/></svg><span> ' + num + ' </span>Upvotes');
						}
					});	
				});
			});
			
		}

		$(document).ready(function(){
			loadQnA();
		});

		$("#category").change(() => {
			$(".questionToAdd").empty();
			loadQnA();
		});

	</script>

</html>