<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Discussion</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link href="/static/dashboard.css" rel="stylesheet">
	</head>

	<style>
		h3 {
			font-size: 1rem;
		}
		body {
			background-color: #E0DAC5;
			font-size: 0.8rem;
		}
		.data {
			font-size: 0.6rem;
		}
	</style>
	<body>
		<div class="container-fluid">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">Discussion</h1>
				</div>

				<div class="question_box">	
					<div class="questionToAdd"></div>
				</div>				
			</main>
		</div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
        var question = {{ question|tojson }};
		var loadQnA = function() {
			var s = '<div class="question"><h3>' + question.question + '</h3>';
			s = s + '<p class="description">' + question.description + '</p>';
			s = s + '<p class="date">' + question.id + ' posted on ' + question.dt + '</p>';
			s = s + '<div class="reply_icon"><img class="new_img" src="/static/skins/np_chat_888687_707070.png" width="16" height="16" />replies</div>';
			// render advisor replies
			question.replies.forEach(reply => {
				if (reply.id === "Advisor") {
					s = s + '<div class="reply"><p>' + reply.comment + '</p>';
					s = s + '<p class="date">' + reply.id + ' posted on ' + reply.dt + '</p>';
					s = s + '</div>';
				}
			});
			// render student replies
			question.replies.forEach(reply => {
				if (reply.id !== "Advisor") {
					s = s + '<div class="reply"><p>' + reply.comment + '</p>';
					s = s + '<p class="date">' + reply.id + ' posted on ' + reply.dt + '</p>';
					s = s + '</div>';
				}
			});
			s = s + '<div class="addReplyBox"><input type="text" class="form-control" placeholder="add your reply here"><button class="btn btn-primary">Submit</button></div>'
			s = s + '</div>';
			$(".questionToAdd").append(s);

			$(".addReplyBox").find("button").click(sendReply);			
		}

		var sendReply = function() {
			var question = $(this).parent().parent().find("h3").text();
			var id = "CS student";
			var comment = $(this).parent().find("input").val();
			var data = {
				question: question,
				id: id,
				comment: comment
			};
			$.ajax({
				type: "POST",
				url: "/reply", 
				data: JSON.stringify(data),
				contentType: "application/json",
				success: () => {
					location.reload();
				}
			});
		}

		var showReplyBox = function() {
			$(this).hide();
			$(this).parent().find(".addReplyBox").show();
		}

		$(document).ready(function(){
			loadQnA();
		});

	</script>

</html>